/* You can add custom styles here. */

// @import "plugins/numbered";
// Muller for the rest of the website. Regular
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Muller'), local('Muller-Regular'),
       url('fonts/muller-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/muller-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// Muller italic
@font-face {
   font-family: 'Muller';
   font-style: italic;
   font-weight: 300;
   font-display: swap;
   src: local('Muller Regular Italic'), local('Muller-RegularItalic'),
        url('fonts/muller-regular-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/muller-regular-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }

/* monsterrat-700-bold */
@font-face {
  font-family: 'Monsterrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Monsterrat Bold'), local('Monsterrat-Bold'),
       url('fonts/monsterrat-medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/monsterrat-medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: 'Muller', sans-serif;
  color: #040022;
}

@mixin headings {
    h1, h2, h3,
    h4, h5, h6 {
        @content;
    }
}

@include headings {
   font-family: "Monsterrat", sans-serif;
}

summary {
   font-weight: 600;
}


.dl-indent { 
   margin-left: 1em; 
}

kbd {
   // Custom variables holding the colors
   $kbd-color-background: #f8f9fa;
   $kbd-color-border: #cbcccd;
   $kbd-color-text: #040022;

 // Match the page defaults in light mode but
 // switch to a light-ish grey in dark mode
 background-color: $kbd-color-background;
 color: $kbd-color-text;

 // Round off the corners like physical keys have
 border-radius: 0.25rem;

 // Add a simple border
 border: 1px solid $kbd-color-border;

 // A sharp shadow (with no blur) really gives
 // the old school keyboard look
 box-shadow: 0 2px 0 1px $kbd-color-border;

 // Remove the text cursor — totally optional
 // but I wanted it for my hover effect
 cursor: default;

 // By default, browsers style <kbd> with a monospace typeface
 font-family: sans-serif;

 // If we do all this with the default font size
 // (mine is 18px on desktop) it’ll look massive
 // and bump into lines above and below
 font-size: 0.75em;

 // Remove any extra space so I can accurately tweak the padding
 line-height: 1;

 // Make narrow numbers and letters look less odd
 min-width: 0.75rem;
 // Keep the characters centred when narrower than the `max-width`
 text-align: center;

 // Seemed to look more key-like with more horizontal padding 🤷
 padding: 2px 5px;
 // Bit of margin to improve visibility of any period that can come after
 margin: 0px 1px 0px 1px;

 // These two lines pull the whole element up now that they’re
 // bottom-heavy due to the `box-shadow`. This looks better
 // against the cap height of regular paragraph text.
 position: relative;
 top: -1px;

 // This is my favourite part of the whole thing. The key gets
 // “pushed” down and the shadow gets reduced so it looks like
 // it might when typing on a physical keyboard.
 &:hover {
   box-shadow: 0 1px 0 0.5px $kbd-color-border;
   top: 1px;
 }
}

.expander-arrow-icon {
   font-family: 'Material Icons';
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
   padding: 0 0.3em 0 0.5em;
   line-height: 1;
   letter-spacing: normal;
   text-transform: none;
   display: inline-block;
   white-space: nowrap;
   word-wrap: normal;
   direction: ltr;
   font-feature-settings: 'liga';
   -webkit-font-smoothing: antialiased;
}

.no-select {
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   margin: 0;
   padding: 0;
}

/* Styles for CTA buttons */
@mixin cta-links {
  display: inline-block;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 3rem;
  margin-bottom: 1.5rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(30, 0, 68, 0.133) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.cta-right-toc.self-hosted {
  @include cta-links;
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-style: none;
  color: #FFFFFF;
}

.cta-right-toc.cloud {
  @include cta-links;

  background-image: #FFFF;
  border: 2px rebeccapurple;
  border-style: solid;
  color: #040022;
}

div.cta { 
  position: sticky;
  position: --webkit-sticky;
  top: 0;
  display: flex;
  flex-direction: column;
}

.cta-right-toc:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 10px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .cta-right-toc {
    padding: 0 0.6rem;
  }
}

@media  screen and (max-width: 56rem) {
  .cta-right-toc {
    line-height: 2.0rem;
    margin: 1.5rem 0 0.5rem 0;
    position: relative;
  }

  div.cta {
    position: static;
  }

  .cta-right-toc.cloud {
    margin-top: 0;
  }
}

nav#TableOfContents {
  max-height: calc(100% - 50px);
  overflow-y: auto;
  overflow-x: hidden;
}